html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#canvas {
    width: 100vw;
    height: 100vh;
    cursor: grab;
}

.tree-heading {
    font-size: 200px;
    fill: black;
    cursor: pointer;
}

.tree-heading:hover {
    fill: blue;
}

.tree-node {
    font-size: 100px;
    fill: black;
    cursor: pointer;
}

.tree-node:hover {
    fill: blue;
}